.city-info {
    background: linear-gradient(to right bottom, lightsteelblue, rgb(237, 240, 243));
    position: absolute;
    z-index: 20;
    width: 30vw;
    right: 20px;
    top: 20px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    overflow: hidden;
}

.top-div {
    display: flex;
    flex-direction: row;
}

.flag {
    margin-top: 5px;
    width: 64px;
    height: 64px;
}

.flag2 {
    margin-top: 5px;
    width: 64px;
    height: 48px;
}

.flag3 {
    margin-top: 10px;
    margin-bottom: 8px;
    width: 64px;
    height: 40px;
}

.cityname {
    margin: 10px 0 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 0px;
}

.countryname {
    margin-top: -1em;
    margin-left: 69px;
}

.population { 
    margin-top: -0.5em;
    margin-left: 69px;
}

.wiki-btn-div {
    width: 64px;
    position: relative;
    top: -10px;
    margin-top: -40px;
    margin-left: 0px;
}

.wiki-btn {
    width: 100%;
}

@media only screen and (max-width: 812px) {
    
.city-info {
    width: 55vw;
    right: 5px;
    top: 10px;
    padding: 0px 5px;
}

.cityname {
    font-size: 130%;
    margin-top: 10px;
    margin-left: 2px;
}
.countryname {
    margin-top: -1.4em;
    font-size: 110%;
    margin-left: 67px;
}

.population {
    font-size: 100%;
    margin-left: 67px;
    margin-top: -0.8em;
}

.wiki-btn-div {
    position: relative;
    top: -0px;
    margin-top: -40px;
    margin-bottom: 10px;
}

.wiki-btn {
    font-size: 1em;
    padding: 0;
    margin: 0;
}

}