.App {
  text-align: center;
}

.Map-div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  overflow: hidden;
}

.MapCover {
  position:absolute;
  width: 100vw;
  height: 100vh;
  z-index: 15;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
}

.sel-cap-btn-div {
  position: absolute;
  z-index: 10;
  width: 15vw;
  min-width: 160px;
  height: auto;
  left: 40vw;
  top: 70vh;
}

.sel-cap-btn {
  width: 100%;
}

.game-btn-label {
  font-size: 100%;
}

.bomb-btn-container {
  position: absolute;
  z-index: 10;
  width: 15vw;
  min-width: 160px;
  height: auto;
  right: 20px;
  top: 50vh;
  display: flex;
  flex-direction: column-reverse;
}

.bomb-btn-div {
  width: 100%;
  margin-top: 10px;
  height: auto;
}

.bomb-btn {
  width: 100%;
  height: 100%;
}

.bomb-slider-container {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 40vh;
  right: 20px;
  top: 25vh;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 20px 0px;
}

.has-bomb {
  background: linear-gradient(to right bottom, rgb(128, 182, 253), rgb(173, 208, 255));
}

.no-bombs {
  background: linear-gradient(to bottom, rgb(214, 214, 214), rgb(255, 255, 255));
}

.active-bomb-btn {
  box-shadow: 0px 0px 5px 5px rgb(255, 252, 81);
}

.bomb-btn-count {
  font-size:150%;
  position: absolute;
  left: 10px;
}

.launch-btn {
  width: 100%;
}

.player-div {
  position: absolute;
  width: auto;
  top:0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.info-text-div {
  position: absolute;
  bottom: 10vh;
  left: 30vw;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  text-align: center;
  border-radius: 20px;
}

.info-text {
  font-size: 200%;
  color: snow;
  text-shadow: 2px 2px black;
}

.mouse-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 25px;
  right: 80px;
}

.mouse-div {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 0 10px;
  border-radius: 10px;
  color: white;
  margin-bottom: 5px;
}

.control-switch-div {
  display: none;
}

@media only screen and (max-width: 812px) {
  .player-div {
    flex-direction: column;
  }
  
  .info-text-div {
    bottom: 20vh;
    left: 20vw;
    width: 60vw;
    border-radius: 20px;
  }
  .info-text {
    font-size: 110%;
  }

  .sel-cap-btn-div {
    width: 50vw;
    height: auto;
    left: 25vw;
    top: 65vh;
  }

  .game-btn-label {
    font-size: 70%;
  }

  .bomb-btn-container {
    width: 30vw;
    min-width: 30px;
    right: 5px;
    top: 50vh;
  }

  .bomb-btn-count {
    font-size:100%;
    margin-left: -2px;
  }

  .mouse-container {
    display: none;
  }

  .control-switch-div {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    right: 60px;
    width: 110px;
    white-space: nowrap;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }
}