@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.title {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top:25vh;
}

.StartPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
}

.StartPage-background {
    width: 100%;
    background: linear-gradient(to top, lightsteelblue, rgba(224, 229, 233, 0.753));
}

.HomePage {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomePageForm {
    display: flex;
    flex-direction: column;
}

.HomePageJoinBtn {
    top: 10px;
}

.kofi-btn {
    position: fixed;
    top: 50px;
    left: 50px;
    transition: all .1s ease-in-out;
}

.kofi-btn:hover {
    transform: scale(1.2);
}

.HomeInfoPage {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HowToPlayTitle:hover {
    cursor: pointer;
}

.HowToPlayText {
    font-size: 140%;
    text-align: center;
    padding: 0 100px;
}

.WaysToPlayText {
    font-size: 140%;
    text-align: center;
    padding: 0 100px;
}

.WaysToPlayList {
    font-size: 130%;
    padding: 0 100px;
}