@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.title {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top:30%;
}

.StartPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    background: linear-gradient(to right bottom, lightsteelblue, rgb(237, 240, 243));
    display: flex;
    align-items: center;
    justify-content: center;
}

.StartPageForm {
    display: flex;
    flex-direction: column;
}

.StartPageJoinBtn {
    top: 10px;
}
